<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/ContactCentreBanner.webp" class="d-block w-100" alt="...">
      </div>
     
    </div>
  </div>
  <div class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 ">
            <div class="m-4 m-lg-5">
                <h1 class="text-center text-primary">CONTACT CENTER
                </h1>
                <p class=" d-flex">Contact Center is your single point contact with the bank. Dial the pan India toll free number 1800 - 425 - 1199 Or 1800 - 420 - 1199 to avail the services of the Contact Center. Customers from abroad can dial 080-61991199. Executives will be available 24 x 7 to help you. They will divulge information regarding your accounts only after proper identification. For verification you will be requested to provide the following information.</p>
                <h6>For general enquiries:

                </h6>
                <p>Full name and Account number along with any two of the following details: 

                </p>
                <ul>
                    <li>Communication address registered with bank records

                    </li>
                    <li>Customer id 

                    </li>
                    <li>
                        Last 3 transactions 

                    </li>
                   
                </ul>

                <h6>For queries related to FedNet Internet Banking:



                </h6>
                <p>FedNet User ID,  Full Name, Email ID registered with bank records and any one of the following details:

                </p>
                <ul>
                    <li>Date of Birth


                    </li>
                    <li>Customer ID


                    </li>
                 
                   
                </ul>

            </div>
        </div>
    </div>
  </div>