<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/AboutUs-federal.webp" class="d-block w-100" alt="...">
      </div>
     
    </div>
  </div>
  <div class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 ">
            <div class="m-4 m-lg-5">
                <h1 class="text-center text-primary">A DIGITAL BANK WITH A HUMAN FACE                </h1>
                <p class=" d-flex">Federal Bank is the preferred Personal, NRI and Business banking partner for a growing expanse of customers across India, in both urban and rural areas. The Bank is driven by the quest to be one of the most admired banking institutions in the country. This is just one manifestation of the Bank’s powerful ‘Digital at the Fore, Human at the Core’ proposition. Redefining human experience, the digital way has been our constant goal for a while now. Our digital innovations of today are on the cusp of redefining the banking paradigm of tomorrow. Federal Bank is continuously scaling up this mantra to reach out, meaningfully and impactfully, to more and more customers. Recognised as a Great Place to Work , the Bank is continuously striving to become the FIRST CHOICE for all Indians. Propelling this journey is our unwavering focus on the service of People, within and outside the organisation.</p>
                <h3>CORE VALUES</h3>
                <p>   The core value framework outlines a set of values and behavioural qualities that are considered most important for employees at the Bank. We are abided by the following core values in our actions and interactions with our stakeholders.</p>
                <ul>
                    <li>Commitment to Excellence
                    </li>
                    <li>Agility
                    </li>
                    <li>
                        Relationship Orientation

                    </li>
                    <li>
                        Ethics
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>