<nav class="navbar navbar-expand-lg text-center navbar-dark bg-light" >
  <div class="container" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="btn btn-warning text-light" aria-current="page" routerLink="/login"><i class="fa-solid fa-user"></i> Login</a></li>
            <li class="nav-item"><a class="btn btn-warning text-light ms-1" routerLink=""><i class="fa-solid fa-house"></i> Home</a></li>

            <li class="nav-item"><a class="btn btn-warning text-light ms-1" routerLink="/about"><i class="fa-solid fa-message"></i> About</a></li>
            <li class="nav-item"><a class="btn btn-warning text-light ms-1" routerLink="/contactUs"><i class="fa-solid fa-address-card"></i> Contact</a></li>
        </ul>
    </div>
</div>
  </nav>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 600px;">
      <div class="carousel-item active">
        <img src="./assets/carousal_Federal-Bank-.webp" height="600" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/carousal_swiggy.webp" height="600" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/carousal_CC-Free--2400x1429-3.webp" height="600" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="ms-5 mt-5 me-5 mb-5">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body text-center"><i class="fa-solid fa-2x fa-users"></i>
                    <span class="ps-2"><b>16,264,958</b> Happy customer</span>  </div>
               
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body text-center"><i class="fa-solid fa-2x fa-building-columns"></i>
                  <span class="ps-2"> <b>1372</b> Banking outlets</span>  </div>
             
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body"> <i class="fa-solid fa-2x fa-print"></i>

                    <span><b> 1364 </b>ATMs</span></div>
               
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <i class="fa-solid fa-2x fa-sack-dollar"></i>
                   <span><b> 552</b> cash recyclers</span> </div>
              
            </div>
        </div>
    </div>
  </div>
  

<div class="bg-primary text-center w-100 pt-4">
<h3 class="text-white">What's new</h3>
<div class="ms-5 me-5 mt-5 pb-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/whatsNew_carousal_Impero-Life-Sel_1344-x-777.jpg" height="400" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/whatsNew_carousal_Mahila-Mitra_1134-x-777-pxl.jpg" height="400" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/whatsNew_carousal.png" class="d-block w-100" height="400" alt="...">
          </div>
        </div>
      </div>
</div>

</div>
