<div class="background_img">
    <div class="container w-25 text-center pt-4 ">
        <table class="table table-white text-warning fw-bold border border-5 rounded bg-white table-striped mt-5 pb-5">
            <thead>
                <tr>
                    <td>Transaction Type</td> 
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody *ngFor="let i of transactionData" class="text-primary mb-5">
                <tr>
                    <td class="text-primary">{{i.Type}}</td>
                    <td class="text-primary">{{i.Amount}}</td>
                </tr>
               
            </tbody>
        </table>
        </div><br><br>
</div>
