    <!-- <h3 class="text-center" style="color: yellow;">{{head}}</h3>  -->
    <div  class="background_img mb-5">

   
    <h1 class="text-white text-center mt-2 mb-4" height="60">Register</h1>  

    <div class="container text-center w-25 bg-light border border-5 rounded pt-3 mt-5  mb-4">        
    <form [formGroup]="registerForm">
        <div class="mb-3">
            <input type="text" formControlName="uname"  id="uname" name="Username" class="form-control" [placeholder]="placeHolder1">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
            <p class="text-danger">Charaters only or please fill the field</p>
        </div>
        <div class="mb-3">
            <input type="text" formControlName="acno" id="acc" name="accNo"  class="form-control" [placeholder]="placeHolder2">
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
            <p class="text-danger">Digits only or please fill the field</p>
        </div>
        <div class="mb-3">
            <input type="password" formControlName="psw"  id="pass" name="pwd"  class="form-control" placeholder="Password">
        </div>
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
            <p class="text-danger">please fill the field</p>
        </div>
       <div class="text-center pb-3"> 
                <button type="button" (click)="register()" class="btn btn-warning text-center text-white">Register</button>  
       </div>
       <div class="pb-3">
        <span>Back to </span><a routerLink="/login" style="text-decoration: none;" class="fw-bold">Login</a>
       </div>  
      </form>
    </div>
</div>
    